@{
    ViewData["Title"] = "Home Page";
}

<div>
    @* When viewing in google chrome, change dimensions to 390 x 844 *@
    <form>
        

        <div class="mb-3">
            <label for="Colour" class="form-label">Colour</label>
            <select class="form-select" id="selectDropdown">
                <option selected>Select</option>
                <option value="White">White</option>
                <option value="Green">Green</option>
                <option value="Yellow">Yellow</option>
            </select>
        </div>


        <div class="mb-3">
            <label for="Thickness" class="form-label">Thickness</label>
            <select class="form-select" id="selectDropdown">
                <option selected>Select</option>
                <option value="18mm">18mm</option>
                <option value="25mm">25mm</option>
                <option value="40mm">40mm</option>
                <option value="50mm">50mm</option>
                <option value="75mm">75mm</option>
                <option value="100mm">100mm</option>
                <option value="125mm">125mm</option>
                <option value="150mm">150mm</option>
            </select>
        </div>

        <div class="mb-3">
            <label for="inputLength" class="form-label">Length (cm)</label>
            <input type="text" class="form-control" id="inputLength" placeholder="Enter Length">
        </div>

        <div class="mb-3">
            <label for="inputWidth" class="form-label">Width (cm)</label>
            <input type="text" class="form-control" id="inputWidth" placeholder="Enter Width">
        </div>

        <div class="mb-3">
            <label for="inputAmountOfCushions" class="form-label">Amount of Cushions</label>
            <input type="text" class="form-control" id="inputAmountOfCushions" placeholder="Enter Amount of Cushions">
        </div>

        <div class="mb-3">
            <label for="outputFoamQuantity" class="form-label fw-bold">Foam Quantity</label>
            <input type="text" readonly class="form-control-plaintext" id="outputFoamQuantity" value="x">
        </div>

        <div class="mb-3">
            <label for="outputFoamPrice" class="form-label fw-bold">Foam Price</label>
            <input type="text" readonly class="form-control-plaintext " id="outputFoamPrice" value="$x">
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-danger">Delete</button>
    </form>

</div>
