@{
    ViewData["Title"] = "Home Page";
}
@model Foam_Calculator.Models.CalculationModel

<div>
    @* When viewing in google chrome, change dimensions to 390 x 844 *@
    <form asp-action="CalculateQuantity" asp-controller="Home" method="post">
        <div class="mb-3">
            <label asp-for="InputColour" class="form-label">Colour</label>
            <select asp-for="InputColour" class="form-select" id="selectDropdown">
                <option selected>Select</option>
                <option value="White">White</option>
                <option value="Green">Green</option>
                <option value="Yellow">Yellow</option>
            </select>
        </div>


        <div class="mb-3">
            <label asp-for="InputThickness" class="form-label">Thickness</label>
            <select asp-for="InputThickness" class="form-select" id="selectDropdown">
                <option selected>Select</option>
                <option value="18">18mm</option>
                <option value="25">25mm</option>
                <option value="40">40mm</option>
                <option value="50">50mm</option>
                <option value="75">75mm</option>
                <option value="100">100mm</option>
                <option value="125">125mm</option>
                <option value="150">150mm</option>
            </select>
        </div>

        <div class="mb-3">
            <label asp-for="InputLength" class="form-label">Length (cm)</label>
            <input asp-for="InputLength" type="text" class="form-control" placeholder="Enter Length">
        </div>

        <div class="mb-3">
            <label asp-for="InputWidth" class="form-label">Width (cm)</label>
            <input asp-for="InputWidth" type="text" class="form-control" placeholder="Enter Width">
        </div>

        <div class="mb-3">
            <label asp-for="InputNumber_of_Cushions" class="form-label">Number of Cushions</label>
            <input asp-for="InputNumber_of_Cushions" type="text" class="form-control" placeholder="Enter Amount of Cushions">
        </div>

        <div class="mb-3">
            <button type="submit" class="btn btn-primary" style="width: 100%; background-color: green; color: white; border: solid green;">Calculate</button>
        </div>

        @{
            decimal? outputPrice = 0;
            decimal? outputQuantity = 0;
            int outputSku = 0;


            //model is not created untill the calculate button is pressed
            if (Model != null)
            {
                if (Model.OutputTotalPrice != null)
                {
                    outputPrice = Model.OutputTotalPrice;
                    outputQuantity = Model.OutputQuantity;
                    outputSku = Model.OutputSKU;
                }
                else
                {
                    outputPrice = 0;
                    outputQuantity = 0;
                    outputSku = 0;
                }
            }
            
        }

        <div class="mb-3">
            <label class="form-label fw-bold">Total Foam Price</label>
            <input type="text" readonly class="form-control-plaintext" value="@outputPrice">
        </div>

        <div class="mb-3">
            <label class="form-label fw-bold">Total Quantity</label>
            <input type="text" readonly class="form-control-plaintext" value="@outputQuantity">
        </div>       

        <div class="mb-3">
            <label class="form-label fw-bold">SKU</label>
            <input type="text" readonly class="form-control-plaintext" value="@outputSku">
        </div>
        
        <a href="/">
        <div type="button" class="btn btn-danger" style="width: 100%">
            Reset
            </div>
            </a>
    </form>

</div>
