@{
    ViewData["Title"] = "Home Page";
}
@model Foam_Calculator.Models.QuantityCalculationModel
<div>
    @* When viewing in google chrome, change dimensions to 390 x 844 *@
    <form asp-controller="QuantityCalculationController" asp-action="CalculateQuantity" method="post">
        <div class="mb-3">
            <label for="Colour" class="form-label">Colour</label>
            <select class="form-select" id="selectDropdown">
                <option selected>Select</option>
                <option value="White">White</option>
                <option value="Green">Green</option>
                <option value="Yellow">Yellow</option>
            </select>
        </div>


        <div class="mb-3">
            <label for="Thickness" class="form-label">Thickness</label>
            <select class="form-select" id="selectDropdown">
                <option selected>Select</option>
                <option value="18mm">18mm</option>
                <option value="25mm">25mm</option>
                <option value="40mm">40mm</option>
                <option value="50mm">50mm</option>
                <option value="75mm">75mm</option>
                <option value="100mm">100mm</option>
                <option value="125mm">125mm</option>
                <option value="150mm">150mm</option>
            </select>
        </div>

        <div class="mb-3">
            <label asp-for="InputLength" class="form-label">Length (cm)</label>
            <input asp-for="InputLength" type="text" class="form-control" placeholder="Enter Length">
        </div>

        <div class="mb-3">
            <label asp-for="InputWidth" class="form-label">Width (cm)</label>
            <input asp-for="InputWidth" type="text" class="form-control" placeholder="Enter Width">
        </div>

        <div class="mb-3">
            <label asp-for="InputNumber_of_Cushions" class="form-label">Number of Cushions</label>
            <input asp-for="InputNumber_of_Cushions" type="text" class="form-control" placeholder="Enter Amount of Cushions">
        </div>

        <div class="mb-3">
            <button type="submit" class="btn btn-primary" style="width: 100%; background-color: green; color: white; border: solid green;">Calculate</button>
        </div>

        <div class="mb-3">
            <label for="outputFoamQuantity" class="form-label fw-bold">Foam Quantity</label>
            <input type="text" readonly class="form-control-plaintext" id="outputFoamQuantity" value="@ViewBag.quantity">
        </div>

        <div class="mb-3">
            <label for="outputFoamPrice" class="form-label fw-bold">Foam Price</label>
            <input type="text" readonly class="form-control-plaintext" id="outputFoamPrice" value="$x">
        </div>

        <div class="mb-3">
            <label for="outputSKU" class="form-label fw-bold">SKU</label>
            <input type="text" readonly class="form-control-plaintext" id="outputSKU" value="x">
        </div>

        <button type="submit" class="btn btn-primary" style="width: 49%">Save</button>
        <button type="button" class="btn btn-danger" style="width: 49%">Delete</button>
    </form>

</div>
